// Load base configs
includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'
includeConfig 'conf/profiles.config'

params {
   reads = '/data/projects/p525_dog_wgs/nextflow/ffpe/raw_data/fastq/*_L00{1,2,3,4}_R{1,2,3}_001.fastq.gz'
   outdir = 'results'
   
   // Reference files
   genome = '/data/references/Canis_lupus_familiaris/UCSC/UU_Cfam_GSD_1.0_canFam4/Sequence/bwa/UU_Cfam_GSD_1.0_ROSY.fa'
   genome_index = '/data/references/Canis_lupus_familiaris/UCSC/UU_Cfam_GSD_1.0_canFam4/Sequence/bwa/UU_Cfam_GSD_1.0_ROSY.{amb,ann,bwt.2bit.64,pac,0123}'
   genome_dict = '/data/references/Canis_lupus_familiaris/UCSC/UU_Cfam_GSD_1.0_canFam4/Sequence/bwa/UU_Cfam_GSD_1.0_ROSY.dict'
   genome_fai = '/data/references/Canis_lupus_familiaris/UCSC/UU_Cfam_GSD_1.0_canFam4/Sequence/bwa/UU_Cfam_GSD_1.0_ROSY.fa.fai'
   known_variants = '/data/references/Canis_lupus_familiaris/UCSC/UU_Cfam_GSD_1.0_canFam4/Variation/UU_Cfam_GSD_1.0.BQSR.DB.bed.gz'
   known_variants_index = '/data/references/Canis_lupus_familiaris/UCSC/UU_Cfam_GSD_1.0_canFam4/Variation/UU_Cfam_GSD_1.0.BQSR.DB.bed.gz.tbi'
   
   // FastP parameters
   fastp {
      qualified_quality = 15
      length_required = 50
      umi_length = 8
      cut_front = true
      cut_tail = true
      cut_window_size = 4
      cut_mean_quality = 20
   }

   // Tool parameters
   aligner = 'bwa-mem2'
   min_read_length = 50
   min_base_quality = 20
   umi_length = 8
   min_mapping_quality = 20

   // SnpEff parameters
   snpeff {
      path = '/home/vjaganna/software/snpEff/exec/snpeff'
      config = '/home/vjaganna/software/snpEff/snpEff.config'
      memory = '4g'
   }

   // Resource limits
   max_memory = '200.GB'
   max_cpus = 16
   max_time = '72.h'
}